<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bhutanese Community of Greater Richmond (BCGR)</title>
    <link href="../css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>
</head>

<body>
    <div id="header"></div>
        <!-- Row 1 begins -->
        <div class="row" id="announcement">
            <div class="col-sm-12">
                <h4 id="current">Current Events</h4>
                <p class="note">
                    <strong>Citizenship Preparation:- </strong> Bhutanese Community is one of the youngest minority community in
                    Richmond VA. This population came as refugees from Bhutan through Nepal. The first family arrived in
                    mid-2008 almost about 10 years ago. These families are getting their citizenship mostly through naturalization
                    process. Close to about 40% of this population is senior adults with very little to no english at all.
                    This group of our population are having tough time passing citizenship test in English. BCGR is running
                    free citizenship class targetting elderly population. This is open entry class meaning anyone can join
                    the class at anytime. We strongly suggest to complete the class though.
                </p>
            </div>

        </div>
        <div class="row" id="announcement">
            <div class="col-sm-12">
                <p>
                    <strong>DMV Learner's permit preparation:- </strong> Possessing a learner's permit allows you to operate a motor
                    vehicle when a licensed driver at least 21 years of age is seated beside you. The driver accompanying
                    you may be 18 years of age if he or she is your legal guardian, brother, sister, half-brother, half-sister,
                    step-brother or step-sister. This person must hold a valid driver's license, be legally permitted to
                    drive, and be alert and able to assist you. If you are at least 16 years, 3 months and under age 18,
                    your driver education certificate and a valid learner's permit allow you to drive without a licensed
                    driver beside you - provided that you have held your learner's permit for nine months and the certificate
                    is signed by a parent or legal guardian.
                </p>
            </div>

        </div>

        <div class="row" id="announcement">
            <div class="col-sm-12">
                <p>
                    <strong>Nepali Language class:- </strong> Nepali (Devanagari: नेपाली) [1]also known as Khas Language is an Indo-Aryan
                    language of the sub-branch of Eastern Pahari. It is the official language of Nepal. It is spoken mainly
                    in Nepal and by about a quarter of the population in Bhutan.[5] In India, Nepali is listed in the Eighth
                    Schedule to the Constitution as an Indian language with official status in the state of Sikkim north
                    east states including Assam, Burma, Nepali diaspora worldwide and in West Bengal's Darjeeling district.[6]
                    Nepali developed in proximity to a number of Indo-Aryan languages, most notably the other Pahari languages
                    and Maithili, and shows Sanskrit influence. However, owing to Nepal's location, it has also been influenced
                    by Tibeto-Burman languages. Nepali is mainly differentiated from Central Pahari, both in grammar and
                    vocabulary, by Tibeto-Burman idioms owing to close contact with this language group.[7]
                </p>
            </div>

        </div>
    </div>

</body>

</html>