<!DOCTYPE html>
<html lang="en">

        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Bhutanese Community of Greater Richmond (BCGR)</title>
                <link href="../css/style.css" rel="stylesheet">
                <link href="https://fonts.googleapis.com/css?family=Carter+One" rel="stylesheet">
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                  crossorigin="anonymous">
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                  crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                  crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                  crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                  crossorigin="anonymous"></script>
                <script src="../js/index.js"></script>
              </head>

<body>
    <div id="header"></div>


    <!--Row1 begins-->
    

    <div class="row" id="announcement">
        <div class="col-sm-9">
            <h4 id="current">Teej 2018</h4>
            <p class="note">
                <strong>Teej Celebration:- </strong> Hartalika Teej is being celebrated in the country today (September 12, Wednesday).
                Lord Shiva and Godess Parvati are worshiped on this day for marital harmony. Hartalika Teej is one of the
                three main teej festivals in the country. It is celebrated in parts of Rajasthan, Madhya Pradesh, Uttar Pradesh
                and Haryana. Apart from Hartalika Teej, the other two important teej festivals are Hariyali Teej and Kajri
                Teej. Women perform pooja, dress up in new clothes and observe fast on this day for marital happiness. Some
                also apply henna. In Karnataka, Tamil Nadu and Andhra Pradesh, this teej festival is famous as Gowri Habba.
                Married women fast for marital harmony and unmarried women fast to get groom of choice. The fasting is considered
                tough as women don't sleep or even take water during the day. The word Hartalika comes from 'Harat' and 'Aalika'
                which means "kidnapping of a woman friend". According to a legend associated with this Teej festival, Goddess
                Parvati's friend once took her to a thick forest so that her father could not marry her to Lord Vishnu against
                her wish.
            </p>
        </div>
        <div class="col-sm-3">
            <a href="https://youtu.be/lNmDJW-NfeY">
                <img src="../images/teej.jpg" class="img-thumbnail" height="150" width="250" />
            </a>
        </div>

        <div class="row" id="lhosar">
            <div class="col-sm-2"></div>

            <div class="col-sm-8">
                <h4>Lhosar</h4>
                <img src="../images/lhosar.jpg" height="400" width="850" />
            </div>

            <div class="col-sm-2"></div>
        </div>

        <div class="row" id="lhosar">
            <div class="col-sm-12">
                <p>
                    <strong>Lhosar;-</strong> is the festival of Buddhists.Losar (Tibetan: ལོ་གསར་, Wylie: lo-gsar; "new year"[4])
                    is a festival in Tibetan Buddhism. The holiday is celebrated on various dates depending on location (Tibet,
                    Nepal and Bhutan) and tradition. The holiday is a new year's festival, celebrated on the first day of
                    the lunisolar Tibetan calendar, which corresponds to a date in February or March in the Gregorian calendar.[4]
                    In 2018, the new year commenced on the 16th of February and celebrations will run until the 18th of the
                    same month. It also commenced the Year of the Male Earth Dog. The variation of the festival in Nepal
                    is called Lhochhar and is observed about eight weeks earlier than the Tibetan Losar.</p>
            </div>
        </div>
    </div>
</body>

</html>